- model_class = resource_class
= content_for :backend_title, (t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "编辑 #{model_class.model_name.human}"))
= render :partial => "form"
